{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link href="{% static "css/fileinput.min.css" %}" type="text/css" rel="stylesheet"/>
    <style>
        #mytable {
            margin-top: 30px;
        }
    </style>
    <script type="text/javascript" src="{% static "js/jquery-3.6.0.min.js" %}"></script>

    <script src="{% static "js/fileinput.min.js" %}"></script>
    <script src="{% static "js/zh.js" %}"></script>

</head>
<body>
<div class="container">
    <input type="file" name="file" id="file" multiple class="file"/>

    <table id="mytable" class="table table-striped">
        <tr>
            <th>文件名称</th>
            <th>上传日期</th>
            <th>操作</th>
            <th>下载</th>
        </tr>
        {% for file_info in file_infos %}
            <tr>
                <td>{{ file_info.filename }}</td>
                <td>{{ file_info.filectime }}</td>
                <td><a href="{% url "app:download" file_info.filename %}">下载</a></td>
                <td><a href="{% url "app:delete" file_info.filename %}">删除</a></td>
            </tr>
        {% endfor %}

    </table>
</div>


<script type="text/javascript">
    $('#file').fileinput({
        language: 'zh',     //设置语言
        dropZoneEnabled: true,      //是否显示拖拽区域
        dropZoneTitle: "可以将文件拖放到这里",    //拖拽区域显示文字
        uploadUrl: "{% url "app:upload" %}",  //上传路径
        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg', "exe", "pdf", "docx", "rar", "zip", "7z"],   //指定上传文件类型
        {#maxFileSize: 0,#}
        {#maxFileSize: 1024,   //上传文件最大值，单位kb#}
        uploadAsync: true,  //异步上传
        maxFileCount: 5    //上传文件最大个数。
    }).on("fileuploaded", function (event, data) { //异步上传成功后回调
        console.log(data);		//data为返回的数据
        window.location.reload()
    });
</script>


</body>
</html>